{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="ThemeBucket">
<link href="{% static 'personal/bs3/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'personal/js/jquery-ui/jquery-ui-1.10.1.custom.min.css' %}" rel="stylesheet">
<link href="{% static 'personal/css/bootstrap-reset.css' %}" rel="stylesheet">
<link href="{% static 'personal/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'personal/js/jvector-map/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
<link href="{% static 'personal/css/clndr.css' %}" rel="stylesheet">
<link href="{% static 'personal/js/css3clock/css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'personal/js/morris-chart/morris.css' %}">
<link href="{% static 'personal/css/style.css' %}" rel="stylesheet">
<link href="{% static 'personal/css/style-responsive.css' %}" rel="stylesheet" />
<link href="{% static 'personal/js/sweetalert/sweetalert.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'personal/js/select2/select2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'personal/js/jquery-tags-input/jquery.tagsinput.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'personal/js/bootstrap-datepicker/css/datepicker.css' %}" />

<link href="{% static 'personal/js/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
<link href="{% static 'personal/js/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'personal/js/data-tables/DT_bootstrap.css' %}" />
